*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display:flex ;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}
.manPic{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}
.manPic img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.chat-header-right img{
width: 20px;
height: 20px;
margin: 5px 13px;
opacity: 0.4;
}
.chat-header-right ion-icon{
    width: 20px;
    height: 20px;
    margin: 5px 13px;
    opacity: 0.4;
    }
.chatIcon{
    width: 20px;
    height: 20px;
    margin: 5px 13px;
    opacity: 0.4; 
}
.sidebar{
    flex: 5;
    display: flex;
    flex-direction: column;
}
.header{
    background-color: #ededed;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border-right: 1px solid #cbc6c6;
}
.sidebar-search{
    display: flex;
    align-items: center;
    background-color: white;
    padding: 8px 15px;
    border-bottom: 1px solid #e9dddd;
}
.sidebar-search-container{
    display: flex;
    align-items: center;
    background-color: #e7e7e7;
    width: 100%;
    height: 35px;
    border-radius: 10px;
}
.sidebar-search-container .icon{
    width: 18px;
    height: 18px;
    margin-left: 7px;
    color: #a59a9a;
}
.sidebar-search-container input{
    border: none;
    outline: none;
    margin-left: 12px;
    background: inherit;
}
/* chat container parent */
.chat-container-parent{
    overflow: auto;
}
/* individual chat container css */
.sidebar-chat-container{
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}
.chat-right{
    margin-left: 3px;
    padding: 5px;
}
.chat-container{
    border-bottom: 1px solid #e9dddd;
}
/* message container css */
.message-container{
    flex: 12;
    background-image: url(images/background\ 3.png);
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.chat-title{
    display: flex;
    align-items: center;
}
.message-header-content{
    margin-left: 15px;
}
.message-header-content p{
    font-size: 13px;
    color: gray;
}
.message-type{
    background: #ededed;
    height: 69px;
    display: flex;
    padding-right: 17px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
}
.message-type ion-icon{
    width: 30px;
    height: 30px;
    margin: 15px 8px;
    opacity: 0.4;

}
.message-type #inputMessage{
    margin: 12px;
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    border-color: inherit;
    height: 75%;
}
.middle-content{
    display: flex;
    position: relative;
    width: 100%;
    padding: 50px;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
}
.li-receive{
    position: relative;
    right: 0 ;
    text-align: right !important;
    max-width: fit-content !important;
    margin-left:auto !important;
    padding: 12px;
    background-color: #dcf8c6 !important;
    border-radius: 10px;
    font-size: 0.9em;
}
.middle-content p{
    position: relative ;
    right: 0 ;
    text-align: left ;
    max-width: fit-content;
    padding: 12px;
    margin: 5px;
    background-color: #e7e7e7;
    border-radius: 10px;
    font-size: 0.9em;
}
.my_message{
    justify-content: flex-end;
}
.other_message{
    justify-content: flex-start;
    background-color: #e7e7e7;
}
li{
    list-style: none;
}